.friends-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

@media (max-width: 767.98px) { 
    .friends-container{
        grid-template-columns: 1fr;
    }
 }